h1 {
  width: 50%;
  float:left;
}

p {
  width: 50%;
  float: left
}

div#spinner {
  height: 100vh;
  position: fixed;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  z-index: -2;
  top:-1em;
  left: -1em;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: red;
} #spinner svg {
  animation: spin 5s linear infinite;
}

#marquee span {
  position: relative;
  float: right;
  width: 50%;
}

@keyframes spin {
  0% {}
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
