<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/global.css">
    <link rel="stylesheet" href="/assets/home.css">
  </head>
  <body>
    <div id="spinner">
      <svg width="400px" height="400px">
        <defs>
          <path
          id="circ"
          d="
            M 200, 200
            m -150, 0
            a 150,150 0 1,1 300,0
            a 150,150 0 1,1 -300,0
            "
          />
        </defs>
        <text fill="#ffa4a4">
          <textPath xlink:href="#circ">
          class is in session from September 5 to December 15, 2017
          </textPath>
        </text>
      </svg>
    </div>
    <div>{% include nav.html %}</div>
    <div id="container">
      {{ content }}
    </div>
  </body>
</html>
